<div class="page-content">
    <div class="row">
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon">Phone</span>
                <select class="form-control"  ng-options="sim.number for sim in simCards" ng-model="selected" ng-change="simcardCoordinate()">
                    <option value="" disabled selected>Select number</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="createCoordinate()">Add Coordinates</button>                  
        </div>
        <div class="col-sm-10">
            <ng-map zoom="12" center="[47.482503, 19.045227]" style="display: block; height: 550px;">
                <marker position="[{{destination.point}}]" ng-repeat="destination in markers"></marker>
            </ng-map>
        </div>
    </div>
</div>
<!-- /.page-content -->