<div class="page-content">
    <div class="row">
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon">Phone</span>
                <select class="form-control">
                    <option value="" disabled selected>Select number</option>
                    <option ng-repeat="x in comboNames">{{x}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-10">
            <ng-map zoom="17" center="[47.439578, 18.924680]" style="display: block; height: 550px;">
                <marker position="[47.439578, 18.924680]" title="hello"></marker>
            </ng-map>
        </div>
    </div>
</div>
<!-- /.page-content -->